/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main {
        min-height: calc(100vh - 158px) !important;
    }
}
@media only screen and (max-width: 767px) {
    main {
        min-height: calc(100vh - 181px) !important;
    }
}
@media only screen and (max-width: 575px) {
    main {
        min-height: calc(100vh - 171px) !important;
    }
}
@media only screen and (max-width: 480px) {
    main {
        min-height: calc(100vh - 167px) !important;
    }
}
@media only screen and (max-width: 380px) {
    main {
        min-height: calc(100vh - 159px) !important;
    }
}
@media only screen and (max-width: 304px) {
    main {
        min-height: calc(100vh - 215px) !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 991px) {
    .navbar .navbar-nav.attr-nav li .nav-link.custom-wishlist-link,
    .navbar .navbar-nav.attr-nav li .nav-link.custom-wishlist-link {
        /* padding: 16px 8px; */
        display: none !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.hover_effect1 {
    -webkit-box-shadow: -2px -1px 15px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
    box-shadow: -2px -1px 22px 0px rgba(0, 0, 0, 0.35);
    border-radius: 2%;
}

.custom-section {
    padding: 50px 0 !important;
}

.custom-tracking-number {
    color: rgb(204, 42, 42);
    font-weight: bold;
    /* text-decoration: underline; */
}
