.white-content *,
.white-content a:link,
.white-content a:visited,
.white-content a:hover,
.white-content a:active {
    color: #fff !important;
}

.grey-border-custom {
    border: 1px #d6d6d6 solid !important;
}

.banner_section.slide_medium,
.banner_section.slide_medium .carousel-item,
.banner_section.slide_medium .banner_content_wrap,
.banner_section.slide_medium .banner_content_wrap .carousel-item,
.banner_section.shop_el_slider,
.banner_section.shop_el_slider .carousel-item,
.banner_section.shop_el_slider .banner_content_wrap,
.banner_section.shop_el_slider .banner_content_wrap .carousel-item {
    height: 166px;
}
